In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
data_frame = pd.read_csv('final_dataset.csv')
data_frame.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2494,2495,2496,2497,2498,2499,Emotion,Age,Color,Gender
0,0,45,52,69,127,148,111,99,106,106,...,15,13,13,10,10,12,Emotion_Happy,Age_below20,E_White,G_Male
1,1,107,109,107,107,107,111,122,119,124,...,72,66,62,63,64,66,Emotion_Happy,Age_20_30,E_White,G_ Female
2,2,159,163,166,171,149,90,65,64,73,...,215,222,224,224,225,227,Emotion_Happy,Age_20_30,E_Hispanic,G_ Female
3,3,178,161,69,32,49,50,40,40,52,...,252,252,253,252,251,249,Emotion_Happy,Age_20_30,E_White,G_ Female
4,4,117,104,100,119,136,160,169,168,159,...,180,177,153,133,153,149,Emotion_Happy,Age_20_30,E_White,G_ Female
5,5,235,236,235,229,217,195,168,139,109,...,56,61,72,82,89,94,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
6,6,119,117,115,113,108,102,97,91,86,...,47,53,55,56,57,58,Emotion_Neutral,Age_below20,E_White,G_ Female
7,7,80,81,81,81,82,82,83,83,84,...,86,86,85,85,85,85,Emotion_Neutral,Age_20_30,E_White,G_ Female
8,8,163,166,167,170,176,183,191,201,208,...,228,229,229,229,229,229,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
9,9,174,174,175,177,177,176,176,175,175,...,150,138,138,148,159,167,Not_Face,0,0,0

In [26]:
data_frame['Age'].value_counts()

0                  150
Age_20_30           90
Age_30_40           60
Age_below20         18
Age_40_50           17
Age_above_50        13
Emotion_Neutral      2
Emotion_Happy        1
Name: Age, dtype: int64

In [27]:
data_frame = data_frame[data_frame['Age']!="Emotion_Neutral"]
data_frame['Age'].value_counts()

0                150
Age_20_30         90
Age_30_40         60
Age_below20       18
Age_40_50         17
Age_above_50      13
Emotion_Happy      1
Name: Age, dtype: int64

In [29]:
data_frame = data_frame[data_frame['Age']!="Emotion_Happy"]
data_frame['Age'].value_counts()

0               150
Age_20_30        90
Age_30_40        60
Age_below20      18
Age_40_50        17
Age_above_50     13
Name: Age, dtype: int64

In [30]:
data_frame = data_frame[data_frame['Age']!="0"]
data_frame['Age'].value_counts()

Age_20_30       90
Age_30_40       60
Age_below20     18
Age_40_50       17
Age_above_50    13
Name: Age, dtype: int64

In [31]:
X = data_frame.iloc[:,1:2501]
y = data_frame['Age']

In [32]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,45,52,69,127,148,111,99,106,106,136,...,15,15,16,16,15,13,13,10,10,12
1,107,109,107,107,107,111,122,119,124,76,...,142,122,158,135,72,66,62,63,64,66
2,159,163,166,171,149,90,65,64,73,70,...,244,255,212,200,215,222,224,224,225,227
3,178,161,69,32,49,50,40,40,52,40,...,252,251,252,252,252,252,253,252,251,249
4,117,104,100,119,136,160,169,168,159,167,...,162,150,113,145,180,177,153,133,153,149

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
y_train = lb.fit_transform(y_train)
y_test = lb.transform(y_test)

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [37]:
y_train

array([[0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0]])

In [38]:
from keras.layers import Dense
from keras.layers import MaxPooling2D
from keras.layers import Convolution2D
from keras.layers import Flatten
from keras.models import Sequential

In [39]:
model = Sequential()
model.add(Convolution2D(30,3, input_shape = (50,50,1), activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2)))
model.add(Convolution2D(40,3, activation = 'relu', padding = 'same'))
model.add(Convolution2D(45,3, activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2))) 
model.add(Convolution2D(50,3, activation = 'relu', padding = 'same'))
model.add(Flatten())
model.add(Dense(output_dim = 128, activation = 'relu'))
model.add(Dense(output_dim = 5, activation = 'softmax'))

C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=128)`
  if __name__ == '__main__':
C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=5)`
  # Remove the CWD from sys.path while we load stuff.

In [40]:
model.compile(optimizer='adam', loss = 'categorical_crossentropy', metrics  = ['accuracy'])

In [41]:
trainX = X_train.reshape(X_train.shape[0],50, 50, 1).astype( 'float32' )
testX = X_test.reshape(X_test.shape[0],50, 50, 1).astype( 'float32' )

In [42]:
model.fit(trainX, y_train, batch_size=50, epochs = 10)

Epoch 1/10
132/132 [==============================] - 4s 33ms/step - loss: 1.5457 - acc: 0.3030
Epoch 2/10
132/132 [==============================] - 2s 13ms/step - loss: 1.2571 - acc: 0.4924
Epoch 3/10
132/132 [==============================] - 2s 14ms/step - loss: 1.2399 - acc: 0.5303
Epoch 4/10
132/132 [==============================] - 2s 14ms/step - loss: 1.1624 - acc: 0.5152
Epoch 5/10
132/132 [==============================] - 2s 13ms/step - loss: 1.1014 - acc: 0.5530
Epoch 6/10
132/132 [==============================] - 2s 14ms/step - loss: 1.0217 - acc: 0.5985
Epoch 7/10
132/132 [==============================] - 2s 14ms/step - loss: 0.9172 - acc: 0.6288
Epoch 8/10
132/132 [==============================] - 2s 14ms/step - loss: 0.8149 - acc: 0.7197
Epoch 9/10
132/132 [==============================] - 2s 13ms/step - loss: 0.6840 - acc: 0.7727
Epoch 10/10
132/132 [==============================] - 2s 13ms/step - loss: 0.5656 - acc: 0.8409

In [43]:
score = model.evaluate(testX, y_test, batch_size=10)

66/66 [==============================] - 1s 12ms/step

In [45]:
score

[2.1205623438864043, 0.4090909217343186]

In [46]:
model_json = model.to_json()
with open("age.json", "w") as json_file:
    json_file.write(model_json)
    
#serialise weights as HDF5

model.save_weights("age.h5")
print("Saved")

Saved