In [1]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
with open('dataset.json') as f:
    data = json.load(f)

In [3]:
len(data)

120

In [4]:
data[7]

{'content': 'http://com.dataturks.a96-i23.open.s3.amazonaws.com/2c9fafb06477f4cb0164895548a600a3/07902025-25c0-4a82-b01d-6f73f112f56c___new-york-usa-july-3-260nw-253195477.jpg.jpeg',
 'annotation': [{'label': ['Emotion_Neutral',
    'Age_20_30',
    'E_Asian',
    'G_Male'],
   'notes': '',
   'points': [{'x': 0.3148636763412489, 'y': 0.5269607843137255},
    {'x': 0.3491644678979771, 'y': 0.5772058823529411}],
   'imageWidth': 390,
   'imageHeight': 280},
  {'label': ['Emotion_Neutral', 'Age_20_30', 'E_White', 'G_ Female'],
   'notes': '',
   'points': [{'x': 0.1662269129287599, 'y': 0.5698529411764706},
    {'x': 0.18997361477572558, 'y': 0.6017156862745098}],
   'imageWidth': 390,
   'imageHeight': 280},
  {'label': ['Emotion_Neutral', 'Age_30_40', 'E_White', 'G_Male'],
   'notes': '',
   'points': [{'x': 0.9322779243623571, 'y': 0.5747549019607843},
    {'x': 0.9753737906772207, 'y': 0.6580882352941176}],
   'imageWidth': 390,
   'imageHeight': 280}],
 'extras': None,
 'metadata': {'first_done_at': 1531852456000,
  'last_updated_at': 1531852456000,
  'sec_taken': 0,
  'last_updated_by': 'HWbICv9u4uSnWrU830DjuF7FfMK2'}}

In [5]:
import requests

In [6]:
ls = []

for i in range(0, 2500):
    ls.append(i)

In [7]:
ls.append('Emotion')
ls.append('Age')
ls.append('Complexion')
ls.append('Gender')

In [8]:
len(ls)

2504

In [9]:
df = pd.DataFrame(columns=ls)
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 2504 columns]

In [10]:
from PIL import Image
import PIL

for i in range(len(data)):
    img_data = requests.get(data[i]['content']).content
    print(i)

    with open('pic1.jpg', 'wb') as ff:
         ff.write(img_data)
    
    img = Image.open('pic1.jpg').convert('L')
    arr = np.array(img)

    
    for j in range(len(data[i]['annotation'])):
        
        imageHeight = data[i]['annotation'][0]['imageHeight']
        imageWidth = data[i]['annotation'][0]['imageWidth']
    
        x1 = int(data[i]['annotation'][j]['points'][0]['x'] * imageWidth)
        y1 = int(data[i]['annotation'][j]['points'][0]['y'] * imageHeight)
        x2 = int(data[i]['annotation'][j]['points'][1]['x'] * imageWidth)
        y2 = int(data[i]['annotation'][j]['points'][1]['y'] * imageHeight)

        arr1 = arr[y1:y2, x1:x2]

        img2 = Image.fromarray(arr1)

        img2 = img2.resize((50,50), PIL.Image.ANTIALIAS)

        arr1 = np.array(img2)
        
        face = []
        for k in range(50):
            for _k in range(50):
                face.append(arr1[k][_k])
                
        for k in data[i]['annotation'][j]['label']:
            face.append(k)
        
        while len(face) < 2504:
            face.append(0)
            
        face = tuple(face)
        ls1 = tuple(ls)
        
        #temp_data = pd.DataFrame()
        
        df = df.append(dict(zip(ls1, face)), ignore_index = True)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [15]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2494,2495,2496,2497,2498,2499,Emotion,Age,Color,Gender
0,0,45,52,69,127,148,111,99,106,106,...,15,13,13,10,10,12,Emotion_Happy,Age_below20,E_White,G_Male
1,1,107,109,107,107,107,111,122,119,124,...,72,66,62,63,64,66,Emotion_Happy,Age_20_30,E_White,G_ Female
2,2,159,163,166,171,149,90,65,64,73,...,215,222,224,224,225,227,Emotion_Happy,Age_20_30,E_Hispanic,G_ Female
3,3,178,161,69,32,49,50,40,40,52,...,252,252,253,252,251,249,Emotion_Happy,Age_20_30,E_White,G_ Female
4,4,117,104,100,119,136,160,169,168,159,...,180,177,153,133,153,149,Emotion_Happy,Age_20_30,E_White,G_ Female

In [16]:
df.to_csv('final_dataset.csv')